.Products {
  font-family: Alef;
  position: relative;
  border: rgb(25, 117, 160) solid 2px;
  background-color: rgb(25, 117, 160);
  border-radius: 10px;
  margin-right: 6px;
  margin-bottom: 10px;
  width: 574px;
  height: 602px;
  float: right;
}

.title {
  font-family: Alef;
  font-weight: bold;
  color: white;
}
