.product_in_cart {
  text-align: left;
  margin: 10px;
  background-color: #a1d0e6;
  height: 110px;
  padding: 10px;
  border-radius: 5px;
}
.product_in_cart img {
  height: 90px;
  width: 80px;
  float: right;
  margin-top: 0;
}
.product_in_cart button {
  width: 70px;
  text-align: center;
  /* float: right; */
}
