@import "~antd/dist/antd.css";

.Header {
  background-color: tomato;
  height: 170px;
  /* margin: 0px 0px 15px 0px; */
  font-weight: bold;
  font-family: Alef;
  flex-wrap: wrap;
  padding: 10px;
}

.adminOrClientButton {
  float: right;
}
